<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="error-container">
        <div class="error-title"><%= message %></div>
        <div class="error-status">Error <%= error.status %></div>
        <a href="/">Go to Homepage</a>
    </div>
</body>
</html>