<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
  </head>
  <body>
    <%- include("shared/header") %>

    <div class="game-container">
      <div class="card placeholder">🂡</div>
      <div class="card placeholder">🂱</div>
    </div>

    <script type="module" src="/js/game.js"></script>
  </body>
</html>